@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Nunito', sans-serif;
    min-width: 300px;
}
button:disabled {
    @apply opacity-80;
}

button {
    @apply transition-colors px-2 py-1 rounded-md border-[1px] font-medium dark:text-zinc-200 text-zinc-700 border-gray-300 dark:border-zinc-700
}

.b-menu {
    @apply p-2 py-1 transition bg-black dark:bg-white bg-opacity-0 hover:bg-opacity-10 dark:bg-opacity-0 dark:hover:bg-opacity-10 cursor-pointer
}

.b-blue {
    @apply text-white bg-blue-600 hover:bg-opacity-90 disabled:bg-opacity-80 border-none;
}

.b-clear {
    @apply p-0 border-none font-normal;
}

.b-bold {
    @apply text-zinc-700 border-zinc-700 hover:bg-zinc-700 disabled:bg-white disabled:text-zinc-700 hover:text-white dark:text-zinc-200 dark:border-zinc-200 dark:hover:bg-zinc-200 dark:disabled:bg-inherit dark:hover:text-black dark:disabled:text-zinc-200
}

.b-default {
    @apply text-zinc-400 border-zinc-200 hover:bg-zinc-200 disabled:bg-white disabled:text-zinc-200 hover:text-zinc-400 dark:text-zinc-400 dark:border-zinc-700 dark:hover:bg-zinc-700 dark:disabled:bg-inherit dark:disabled:text-zinc-700
}

.tooltip {
    @apply hover:after:bg-black hover:after:p-1 hover:after:rounded-md hover:after:text-sm hover:after:text-white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 40
}

h1, h2, h3, a, p {
    @apply text-gray-700 dark:text-gray-200
}